---
---

<style>
    .container {
        display: grid;
        grid-template-rows: 150px 1fr;
    }

    .top-sidebar {
        background: darkgreen;
    }

    .min-sidebar {
        background: indigo;
    }
</style>

<div class="container">
    <div class="top-sidebar"></div>
    <div class="min-sidebar"></div>
</div>