---
import MainSidebar from "./MainSidebar.astro";
import TopSidebar from "./TopSidebar.astro";
---

<style>
    .container {
        display: grid;
        grid-template-rows: 125px 1fr;
        height: 100%;
        gap: 1rem 0;
    }

    .top-sidebar {
        background: var(--medium-bgcolor);
        border-radius: var(--border-radius);
    }

    .min-sidebar {
        background: var(--medium-color);
        border-radius: var(--border-radius);
    }
</style>

<div class="container">
    <div class="top-sidebar">
        <TopSidebar />
    </div>
    <div class="min-sidebar">
        <MainSidebar />
    </div>
</div>