---
import { Icon } from "astro-icon/components";
---

<style>
    .container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 0.25rem 0;
        font-family: var(--default-font);
        font-weight: 500;
        font-size: 0.85rem;
    }

    .row {
        --text-color: var(--dark-textcolor)

        display: flex;
        padding: 0.75rem 1rem;
        gap: 0 1rem;
        color: var(--text-color);

        &:hover {
            --text-color: var(--light-textcolor)
            cursor: pointer;
        }

        & [data-icon] {
            font-size: 1.25rem;
        }
    }
</style>

<div class="container">
    <div class="row">
        <Icon name="home" />
        <span>Inicio</span>
    </div>
    <div class="row">
        <Icon name="search" />
        <span>Buscar</span>
    </div>
</div>

